<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="static/css/reset.css">
		<link rel="stylesheet" href="static/css/reveal.css">
		<link rel="stylesheet" href="static/css/theme/white.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="static/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'static/css/print/pdf.css' : 'static/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				{% for slide in show.slides %}
				<section id="{{ slide }}">
					{{ show.do_markup(slide) | safe }}
				</section>
				{% endfor %}
			</div>
		</div>

        <script src="static/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'static/plugin/markdown/marked.js' },
					{ src: 'static/plugin/markdown/markdown.js' },
					{ src: 'static/plugin/notes/notes.js', async: true },
					{ src: 'static/plugin/highlight/highlight.js', async: true }
				],

				hash: true,
			});
		</script>
	</body>
</html>
