<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Auditorium</title>
</head>
<body>
    <h1>Welcome to Auditorium</h1>

    <h3>The following slideshows have been registered:</h3>
    <ul>
        {% for name in servers_list %}
        <li>
            <a href="/{{ name }}/">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
