<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/tailwind.min.css" rel="stylesheet">
  <link href="/assets/auditorium.css" rel="stylesheet">
</head>
<body class="overflow-hidden absolute" style="top: 0px;">
  {% for slide in slides.values() %}
    <div id="{{ slide.id }}" class="slide relative p-{{ slide.margin }} h-screen w-screen bg-white"></div>
  {% endfor %}
</body>
</html>

<style>
{%- for animation in animations %}
@keyframes {{ animation }} {
  {%- for frame in animation %}
  {{ frame }} {
    {%- for k,v in frame %}
    {{ k }}: {{ v }};
    {%- endfor %}
  }
  {%- endfor %}
}
{%- endfor %}
</style>

<script src="/assets/auditorium.js" type="application/javascript"></script>
