<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/assets/tailwind.min.css" rel="stylesheet">
  <link href="/assets/auditorium.css" rel="stylesheet">
</head>
<body class="overflow-hidden">
  {% for slide in slides.values() %}
    <div id="{{ slide.id }}" class="slide h-screen w-screen bg-white flex flex-col items-center justify-center"></div>
  {% endfor %}
</body>
</html>

<script src="/assets/auditorium.js" type="application/javascript"></script>
