<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ show.show_title }}</title>

        <style>{{ embed("static/css/reset.css") | safe }}</style>
		<style>{{ embed("static/css/reveal.css") | safe }}</style>
		<style>{{ embed("static/css/theme/" + theme + ".css") | safe }}</style>
		<style>{{ embed("static/css/auditorium.css") | safe }}</style>
		<style>{{ embed("static/css/auditorium-" + theme + ".css") | safe }}</style>

		<style>{{ code_style | safe }}</style>

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'static/css/print/pdf.css' : 'static/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		{{ content | safe }}

        <script>{{ embed("static/js/reveal.js") | safe }}</script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					// TODO: Include mathjax in statics
					// { src: 'static/plugin/math/math.js' },
					// TODO: Notes don't work with animations
					// { src: 'static/plugin/notes/notes.js' },
					// { src: 'static/plugin/highlight/highlight.js' },
				],

				hash: true,
			});
        </script>

        <script>{{ embed("static/js/auditorium.js") | safe }}</script>
	</body>
</html>
